apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: anythingllm-anyuid-scc-binding
  namespace: {{ .Values.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:openshift:scc:anyuid
subjects:
  - kind: ServiceAccount
    name: anythingllm
    namespace: {{ .Values.namespace }}
